.btn {
  width: 90%;
  margin-top: 0.5rem;
  background-color: #4caf50;
  height: 6vh;
  border: 0.1rem solid white;
  border-radius: 5%;
  font-size: larger;
}
.sign-in {
  margin-top: 1.5rem;
}
.signin {
  margin-top: 12rem;
  margin-left: 10%;
}
label {
  font-size: large;
}
.signin-label {
  margin: 1rem auto 0.5rem auto;
  margin-right: 14rem;
}
.forgot-para {
  margin-top: 1.5rem;
  color: #00a86b;
  font-size: 1rem;
  margin-left: 6rem;
}
