.btn {
  width: 92%;
  margin: 5% 3% 3% -1%;
  background-color: #00a86b;
  color: white;
}
.sign-in {
  margin-top: 1.5rem;
}
.signin {
  margin-top: 12rem;
  margin-left: 10%;
}
.forgot-para {
  margin-top: 1.5rem;
  color: #00a86b;
  font-size: 1rem;
  margin-left: 8.5rem;
}
