input {
  width: 100%;
  border: none;
  padding: 0.7em;
  margin: 0.5em 0em 1.6em;
  background-color: #eee;
}
.input {
  width: 90%;
}
.inputLabel {
  display: block;
  color: #787878;
  margin: 0.9em 0em 0.3em;
  font-weight: 500;
  font-size: 1em;
}
