.userSearchWrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0em 0.8em;
}
.searchUserInput {
  width: 90%;
}
.userNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28em;
  font-size: 1.5em;
}
.userSearchResultContainer {
  background-color: #f0f0f0;
  min-height: 42.2em;
  margin-top: -0.5em;
}
.userSearchResult {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em 0.5em;
}
.userSearchProfilePicture {
  height: 2.5em;
  width: 2.5em;
}
.userSearchName {
  font-size: 1.2em;
  margin: auto 0em;
  text-align: left;
}
.friendshipStatus {
  margin: auto 0em;
  font-size: 0.7em;
  color: #00a86b;
}
