button {
  width: 100%;
  padding: 0.8em 2em;
  border: none;
  color: #fff;
}

.btnGreen {
  margin: 3em 0em;
  background-color: #00a86b;
}

.btnGrey {
  margin: 3em 0em;
  background-color: #b4b4b4;
}

.btnActive {
  width: 92%;
  margin: 1% 3% 3% -1%;
  color: white;
  background-color: #00a86b;
}
.btnInActive {
  width: 92%;
  margin: 1% 3% 3% -1%;
  color: white;
  background-color: grey;
}
.btnBlue {
  margin: 3em 0em 0em;
  background-color: #0047ab;
}

.skillBtn,
.categoryBtn {
  width: auto;
  color: #787878;
  background-color: #fff;
  border: 0.01em solid #f0f0f0;
  border-radius: 2em;
  margin: 0.3em;
}
.skillBtnActive,
.categoryBtnActive {
  background-color: #787878;
  color: #fff;
  border: none;
}
.btn {
  width: 90%;
  margin-top: 0.5rem;
  background-color: #00a86b;
  height: 6vh;
  border: 0.1rem solid white;
  border-radius: 5%;
  font-size: larger;
}
.sign-in {
  margin-top: 1.5rem;
}
.postActive {
  color: #00a86b;
  background-color: #f0f0f0;
  border: 0.01em solid #787878;
}
.joinCommunityBtn {
  display: block;
  background-color: #0047ab;
  width: 50%;
  color: #fff;
  margin: -1.9em auto 1em;
}
.btnSendMessage {
  background-color: #00a86b;
  width: 70%;
  height: 2.5em;
  padding: 0.1em 0.5em;
  margin: 0.5em 2em 0em;
}
.sendRequestBtn,
.requestAcceptBtn {
  background-color: #0047ab;
  padding: 0.1em;
}
.sendRequestBtnDisabled,
.respondBtnDisabled {
  background-color: #b4b4b4;
  padding: 0.1em;
}
.requestRejectBtn {
  background-color: #a30000;
  padding: 0.1em;
}
.requestAcceptBtn,
.respondBtnDisabled,
.requestRejectBtn {
  width: 90%;
}
