.labelText {
  display: block;
  color: #787878;
  margin: 0.9em 0em 0.3em;
  font-weight: 500;
}
.postTypeButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0em;
}
.giftContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0em;
}
.giftCheck {
  display: block;
}
.descriptionInput {
  width: 100%;
  background-color: #eee;
  border: none;
}
.selectedSkills {
  display: inline-block;
  background-color: #fff;
  border: 0.01em solid #787878;
  color: #787878;
  padding: 0.1em 0.4em;
  margin: 0.2em 0.2em;
  font-size: 0.9em;
  border-radius: 2em;
}
.addSkills,
.addCategory {
  width: 35%;
  text-align: center;
  background-color: #fff;
  border: 0.01em solid #00a86b;
  color: #00a86b;
  padding: 0.2em;
  border-radius: 2em;
}
.giveBtn,
.receiveBtn {
  width: 100%;
  padding: 0.8em 2em;
  background-color: #fff;
  color: #b4b4b4;
  border-radius: 0.2em;
  border: 0.01em solid #b4b4b4;
}
.postActive {
  color: #00a86b;
  background-color: #f0f0f0;
  border: 0.01em solid #787878;
}
.descriptionContainer {
  position: relative;
}
.descriptionCount {
  position: absolute;
  bottom: 1em;
  right: 0.5em;
  font-size: 0.7em;
}
