.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 24em;
  color: #00a86b;
}
.chatwrapper {
  display: flex;
  flex-direction: column-reverse;
  height: 44em;
  overflow: auto;
}
.chatwrapper::-webkit-scrollbar {
  display: none;
}
.onlineContainer {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  border-radius: 50%;
  padding: 0.2em;
  width: 1em;
  height: 1em;
}
.offline {
  background-color: red;
}
.online {
  background-color: green;
}
.inputwrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 0.9em;
}
.typingContainer {
  position: absolute;
  top: 2.5em;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: transparent;
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
}
.chatMessage {
  padding: 0.5em;
  margin: 0.2em;
  color: #fff;
  font-weight: 350;
  border-radius: 1.5em;
  width: 50%;
}
.chatReceiver {
  align-self: flex-start;
  background-color: #00563f;
}
.chatSender {
  align-self: flex-end;
  background-color: #0067a5;
}
