.menu-image {
    width: 4rem;
    height: 4rem;

}
.menu-item{
    display: flex;
    align-items: center;
    gap: 1rem; 
}
.menu-close-btn {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    padding-top: .45rem;
    width: 4rem;
    height: 4rem;
    background-color: #00a86b;
    color: white;
    margin-left: 8.5rem;
    font-size: xx-large;
}