.signin {
    margin-top: 16rem;
    margin-left: 10%;
}
label {
    margin: 1rem auto .5rem auto;
    font-size: large;
    margin-right: 14rem;
}
.forgot-para {
    margin-top: 1.5rem;
    color: #00a86b;
    font-size: 1rem;
    margin-left: 6rem;
}
