.headerContainer {
  position: relative;
  padding: 1em;
  background-color: #00a86b;
  color: #fff;
}
.headerNavigate {
  position: absolute;
  font-size: 1.5em;
  bottom: 0.6em;
  left: 1em;
  font-weight: 500;
}
.headerText {
  display: block;
  font-size: 1.2em;
  text-align: center;
}
