button {
  width: 100%;
  padding: 0.8em 2em;
  border: none;
  color: #fff;
}

.btnGreen {
  margin: 3em 0em;
  background-color: #00a86b;
}

.btnGrey {
  margin: 3em 0em;
  background-color: #b4b4b4;
}

.skillBtn {
  width: auto;
  color: #787878;
  background-color: #fff;
  border: 0.01em solid #f0f0f0;
  border-radius: 2em;
  margin: 0.3em;
}
.skillBtnActive {
  background-color: #787878;
  color: #fff;
  border: none;
}
.btn {
  width: 90%;
  margin-top: 0.5rem;
  background-color: #4caf50;
  height: 6vh;
  border: 0.1rem solid white;
  border-radius: 5%;
  font-size: larger;
}
.sign-in {
  margin-top: 1.5rem;
}
.giveBtn,
.receiveBtn {
  background-color: #fff;
  color: #b4b4b4;
  border-radius: 0.2em;
  border: 0.01em solid #b4b4b4;
}
.postActive {
  color: #00a86b;
  background-color: #f0f0f0;
  border: 0.01em solid #787878;
}
.addSkillsBtn,
.addCategoryBtn {
  width: 30%;
  background-color: #fff;
  border: 0.01em solid #00a86b;
  color: #00a86b;
  padding: 0.4em;
  border-radius: 2em;
}
.joinCommunityBtn {
  display: block;
  background-color: #0047ab;
  width: 50%;
  color: #fff;
  margin: -1.9em auto 1em;
}
