button {
  width: 100%;
  padding: 0.8em 2em;
  border: none;
  color: #fff;
}

.signupOne {
  background-color: #00a86b;
}

.signupTwo {
  margin-top: 3em;
  background-color: #b4b4b4;
}

.signupThree {
  margin-top: 2em;
  background-color: #00a86b;
}
.signupFour {
  margin-top: 8em;
  background-color: #00a86b;
}
.skillBtn {
  width: auto;
  color: #787878;
  background-color: #fff;
  border: 0.01em solid #f0f0f0;
  border-radius: 2em;
  margin: 0.3em;
}
.skillBtnActive {
  background-color: #787878;
  color: #fff;
  border: none;
}
