.friendsContainer {
  width: 90%;
  margin: 1em auto 0;
}
.friendsProfilePicture {
  width: 2.5em;
  height: 2.5em;
  margin-left: 0.5em;
}
.friendsTitle {
  text-align: center;
  font-size: 1.2em;
  background-color: #00a86b;
  padding: 0.7em;
  color: #fff;
  font-weight: 500;
}
.friendCard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-bottom: 0.125em solid #f0f0f0;
  padding: 0.8em;
}
.activeFriendCard {
  background-color: #eee;
}
.friendName {
  margin-left: 2em;
}
.friendLoadingContainer {
  display: block;
  height: 35em;
}
.noFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43em;
}
