.image {
  height: 18rem;
  width: 100%;
}
.otherUser {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;
  background-color: antiquewhite;
  height: 3.9rem;
  margin-top: -0.2rem;
  padding-right: 0.1rem;
}
.otherUserImage {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.giveOrReceive {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  height: 1.6rem;
  background-color: rgb(167, 205, 248);
  color: blue;
  margin: 1rem;
  border-radius: 1rem;
}
.dateCapacity {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
  margin: 5%;
}
.date {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: #f0f0f0;
  padding: 1rem;
}
.h5 {
  display: inline-block;
}
.description {
  padding: 0% 5%;
}
.pTag {
  font-size: 1rem;
}
.removeMargin {
  margin: 0;
  padding: 0;
}
.location {
  text-align: center;
  padding: 0 5% 5%;
  margin: -2rem 0 0;
}
.skillText {
  padding: 0 5% 5%;
}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5% 8%;
  height: 2rem;
}

.skill {
  display: inline-block;
  margin: 0.3rem 0.2rem;
  padding: 0.2rem;
  color: black;
  border: 0.0125rem solid #b4b4b4;
  border-radius: 1rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
}
.footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}
.footerIcon {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
}
.icon {
  height: 1.5rem;
  width: 1.6rem;
}
.viewIcon {
  height: 0.9rem;
  width: 1.4rem;
  margin: 0.2rem 0 0.5rem 0;
}

.footerButton {
  position: relative;
  bottom: 0;
  left: 0;
  width: 94%;
  margin: 5% 3% 3%;
  border: 0.0125rem solid black;
}
.footerButtonActive {
  background-color: #00a86b;
  color: white;
}
.footerButtonInActive {
  background-color: #7d7f7e;
  color: black;
}
.peopleComments {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  width: 100%;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.commentsActive,
.peopleActive {
  background-color: white;
  border-bottom: 0.2rem solid black;
  color: black;
}
.people {
  background-color: white;
  color: grey;
}
.comments {
  background-color: white;
  color: grey;
}
.peopleOrCommentContainer {
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  overflow-y: auto;
  background-color: #eee;
}
