.footer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 3.5rem;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: fixed !important;
  bottom: -0.2rem;
  left: 0;
}

.menu-icon {
  font-size: 1.5rem;
  background-color: #00a86b;
  color: white;
  border-radius: 50%;
  padding: 0.4rem;
}
.footer-image {
  height: 2rem;
}
.font-awesome-active {
  font-size: 1.5rem;
  color: #00a86b;
}
