.userDisplayContainer {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-top: 1em;
}
.userDisplayTitle {
  font-size: 1em;
  font-weight: 600;
}
.userDisplay {
  font-size: 0.9em;
  color: #00a86b;
}
.selectuserDisplay {
  color: #00a86b;
  font-size: 1.5em;
  font-weight: 600;
}
.selectFriendList {
  font-size: 1em;
}
