.home-container {
    margin: 0;
    padding: 0;
}
.header {
    height: 5rem;
    background-color: #00a86b;
    text-align: center;
}
.title {
    padding-top: .8rem;
}
.footer {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    background-color: rgb(68, 65, 65);
    border-top: .1rem solid grey;
    position: fixed;
    bottom: 0;
    left: 0;
}

.home-btn {
    color: #036843;
    font-size: larger;
    border: .1rem solid blanchedalmond;
}
