.home-container {
    margin: 0;
    padding: 0;
}
.header {
    height: 5rem;
    background-color: #00a86b;
    text-align: center;
}
.title {
    padding-top: .8rem;
}


.home-btn {
    color: #036843;
    font-size: larger;
    border: .1rem solid blanchedalmond;
}
.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
