.home-container {
  margin: 0;
  padding: 0;
}
.header {
  height: 5rem;
  background-color: #00a86b;
  text-align: center;
}
.home-container-logout-div {
  background: transparent;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.2rem;
  font-weight: 400;
  border: 0.1rem solid white;
  border-radius: 15%;
}
.title {
  padding-top: 0.8rem;
}

.home-btn {
  color: #036843;
  font-size: larger;
  border: 0.1rem solid blanchedalmond;
}
