.selectedCategories {
  display: inline-block;
  background-color: #fff;
  border: 0.01em solid #787878;
  color: #787878;
  padding: 0.1em 0.4em;
  margin: 0.2em 0.2em;
  font-size: 0.9em;
  border-radius: 2em;
}
.addCategory {
  width: 35%;
  text-align: center;
  background-color: #fff;
  border: 0.01em solid #00a86b;
  color: #00a86b;
  padding: 0.2em;
  border-radius: 2em;
}
